
.tendina{
    width: 30%;
    background-color: black;
    border-radius: 10px;
    color: white;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
}