#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: black;
    color: white;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title{
    color: rgb(233, 233, 0);
    cursor: pointer;
}

.first-container{
    margin-left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-container{
    margin-right: 2em;
    padding: 1em;
    display: flex;
    gap: 2em;
}

.second-container .navigation:hover{
    color: rgb(233, 233, 0);
    cursor: pointer;
}

.cart{
    position: relative;
}

.notifica{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 2px;
    right: -10px;
}

.number{
    color: white;
}

.logout-screen{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.card-logout{
    width: 30%;
    height: 30%;
    background-color: white;
    border-radius: 12px;
    z-index: 201;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.p-confirm{
    font-size: 1.3rem;
    color: black;
}

.buttons-confirm{
    border: 1px solid red;
    display: flex;
    gap: 2em;
}

.confirm-button{
    padding: 10px 20px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
}

.back-button{
    padding: 10px 20px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
}

.searchbar-container{
    width: 40%;
}

.input-search{
    width: 80%;
}