<div class="container">
    <div class="container-product">
      <div class="container-img">
        <img class="image" [src]="'http://localhost:8080/images/' + item.product.productImage" alt="{{ item.product.name }}">
      </div>
      <div class="container-details">
        <h2>Name: {{ item.product.name }}</h2>
        <p>Price: {{ item.product.price }}$</p>
        <button class="button" (click)="removeProduct()">Remove</button>
      </div>
    </div>
    <div class="container-number">
      <button class="button" (click)="decrementCounter()">-</button>
      <h2>{{ item.quantity }}</h2>
      <button class="button" (click)="incrementCounter()">+</button>
    </div>
  </div>
  