.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    box-sizing: border-box;
    color: white;
    margin-bottom: 20px;
}

.container-product{
    width: 70%;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container-img{
    width: 50%;
}

.container-details{
    width: 50%;
}

.image{
    width: 15em;
}

.container-number{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 30%;
}

.button{
    background-color: rgb(69, 69, 69);
    color: white;
    border: none;
    padding: 5px 10px;
}