<app-header></app-header>
<div class="menu-generale-container">
    <section id="cibi" fragment="section1">
        <h2 class="title-section">Foods:</h2>
        @for (cibo of ciboArray; track $index; let i = $index) {
           <div class="container">
               <div class="try">
                   <h2 class="title">{{cibo.name}}</h2>
                   <h3>Ingredients: {{cibo.ingredients}}</h3>
                   <p>Description: {{cibo.description}}</p>
                   <p>Price: {{cibo.price}}$</p>
                   <img class="image" [src]="'http://localhost:8080/images/' + cibo.productImage" alt="{{ cibo.name }}">
               </div>
               <div class="container-number">
                   <button class="button" (click)="decrementCounter(cibo)">-</button>
                   <h2>{{ cibo.quantity || 0 }}</h2>
                   <button class="button" (click)="incrementCounter(cibo)">+</button>
               </div>
           </div>
        }
    </section>
    <section id="bevande" fragment="section2">
        <h2 class="title-section">Drinks:</h2>
        @for (bevanda of bevandaArray; track $index; let i = $index) {
           <div class="container">
               <div>
                <h2 class="title">{{bevanda.name}}</h2>
                <h3>Ingredients: {{bevanda.ingredients}}</h3>
                <p>Description: {{bevanda.description}}</p>
                <p>Price: {{bevanda.price}}$</p>
                <img class="image" [src]="'http://localhost:8080/images/' + bevanda.productImage" alt="{{ bevanda.name }}">
               </div>
               <div class="container-number">
                   <button class="button" (click)="decrementCounter(bevanda)">-</button>
                   <h2>{{ bevanda.quantity || 0 }}</h2>
                   <button class="button" (click)="incrementCounter(bevanda)">+</button>
               </div>
           </div>
        }
    </section>
    <section id="dolci" fragment="section3">
        <h2 class="title-section">Desserts:</h2>
        @for (dolce of dolceArray; track $index; let i = $index) {
           <div class="container">
               <div>
                <h2 class="title">{{dolce.name}}</h2>
                <h3>Ingredients: {{dolce.ingredients}}</h3>
                <p>Description: {{dolce.description}}</p>
                <p>Price: {{dolce.price}}$</p>
                <img class="image" [src]="'http://localhost:8080/images/' + dolce.productImage" alt="{{ dolce.name }}">
               </div>
               <div class="container-number">
                   <button class="button" (click)="decrementCounter(dolce)">-</button>
                   <h2>{{ dolce.quantity || 0 }}</h2>
                   <button class="button" (click)="incrementCounter(dolce)">+</button>
               </div>
           </div>
        }
    </section>
    <app-footer></app-footer>
</div>
