<app-header></app-header>
<div class="menu-generale-container">
    <section id="cibi" fragment="section1"> 
        <h2 class="title-section">Cibi:</h2>
        @for (cibo of ciboArray; track $index; let i = $index) {
           <div class="container">
               <div>
                   <h2 class="title">{{cibo.name}}</h2>
                   <p>id: {{cibo.id}}</p>
                   <h3>Ingredients: {{cibo.ingredients}}</h3>
                   <p>Description: {{cibo.description}}</p>
                   <p>Price: {{cibo.price}}$</p>
                   <!-- <div>
                       <button (click)="addCibo(ciboArray[i], i)">Add</button>
                       <button (click)="removeCibo(i)">Remove</button>
                   </div> -->
               </div>
               <div class="container-number">
                   <button class="button" (click)="decrementCounter(cibo)">-</button>
                   <h2>{{ cibo.quantity || 0 }}</h2>
                   <button class="button" (click)="incrementCounter(cibo)">+</button>
               </div>
           </div>
        }
    </section>
    <section id="bevande" fragment="section2">
        <h2 class="title-section">Bevande:</h2>
        @for (cibo of bevandaArray; track $index; let i = $index) {
           <div class="container">
               <div>
                   <h2 class="title">{{cibo.name}}</h2>
                   <p>{{cibo.id}}</p>
                   <!--<h3>Ingredients: {{cibo.ingredienti}}</h3>
                   <p>Procedimento: {{cibo.procedimento}}</p>-->
                   <p>Price: {{cibo.price}}$</p>
                   <!-- <div>
                       <button (click)="addCibo(ciboArray[i], i)">Add</button>
                       <button (click)="removeCibo(i)">Remove</button>
                   </div> -->
               </div>
               <div class="container-number">
                   <button class="button" (click)="decrementCounter2(cibo)">-</button>
                   <h2>{{ cibo.quantity || 0 }}</h2>
                   <button class="button" (click)="incrementCounter(cibo)">+</button>
               </div>
           </div>
        }
    </section>
    <section id="dolci">
        <h2 class="title-section">Dolci:</h2>
        @for (cibo of dolceArray; track $index; let i = $index) {
           <div class="container">
               <div>
                   <h2 class="title">{{cibo.name}}</h2>
                   <h3>Ingredients: {{cibo.ingredients}}</h3>
                   <p>Price: {{cibo.price}}$</p>
                   <!-- <div>
                       <button (click)="addCibo(ciboArray[i], i)">Add</button>
                       <button (click)="removeCibo(i)">Remove</button>
                   </div> -->
               </div>
               <div class="container-number">
                   <button class="button" (click)="decrementCounter3(cibo)">-</button>
                   <h2>{{ cibo.quantity || 0 }}</h2>
                   <button class="button" (click)="incrementCounter(cibo)">+</button>
               </div>
           </div>
        }
    </section>
    <app-footer></app-footer>
</div>
