.container-menu{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 2%;
}

.border{
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.border:hover{
    cursor: pointer;
    color: rgb(233, 233, 0);
}

.carousel-item{
    background-color: black;
    color: white;
}

.navigazione{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
}

.ordina-text{
    font-size: 4em;
    color: rgb(233, 233, 0);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
}

.oscurare{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.titolo{
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 2em;
}

.border:hover .titolo{ 
    color: rgb(233, 233, 0);
}

.container-edit-delete{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 3em;
    padding-bottom: 3em;
}

.larghezza{
    width: 50%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 2em;
    gap: 1em;
    padding: 2em;
}

.button-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.button{
    background-color: black;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 3px;
}

.button:hover{
    color: rgb(233, 233, 0);
}

.input{
    width: 50%;
    text-align: center;
    border: none;
    outline: none;
    font-size: 1em;
}
