<!-- <app-header></app-header> -->
 <app-introduzione></app-introduzione>
<div class="container-menu">
    <div>
        <h2 class="ordina-text">Ordina!</h2>
    </div>
    <div class="navigazione">
        <div class="border" (click)="navigateToProdotti('cibi')">
            <div class="oscurare"></div>
            <img class="image" src="assets/images/tipi-di-sushi-uramaki.jpg" alt="">
            <p class="titolo">Cibi</p>
        </div>
        <div class="border" (click)="navigateToProdotti('bevande')">
            <div class="oscurare"></div>
            <img class="image" src="assets/images/images_2020_1_GRANDI_VINI_ITALIANI.jpg" alt="">
            <p class="titolo">Bevande</p>
        </div>
        <div class="border" (click)="navigateToProdotti('dolci')">
            <div class="oscurare"></div>
            <img class="image" src="assets/images/06-wikipedia.jpg" alt="">
            <p class="titolo">Dolci</p>
        </div>
    </div>
    <div class="container-edit-delete">
        <h2 class="ordina-text" (click)="toggleMEnu()">Modifica ed elimina prodotti</h2>
        @if (isOpen) {
            @for (cibo of ciboArray; track $index; let i = $index) {
                <div class="larghezza" (click)="showTendina($event)">
                    <input [ngStyle]="{'border': solidBorder[i]}" [name]="'name_'+ i" class="input" type="text" [(ngModel)]="cibo.name" [readOnly]="isReadOnly[i]">
                    <input [ngStyle]="{'border': solidBorder[i]}" [name]="'description_' + i" class="input" type="text" [(ngModel)]="cibo.description" [readOnly]="isReadOnly[i]">
                    <input [ngStyle]="{'border': solidBorder[i]}" [name]="'price_' + i" class="input" type="text" [(ngModel)]="cibo.price" [readOnly]="isReadOnly[i]">
                    <div class="button-container">
                        <button class="button" (click)="changeInput(i)">Modifica</button>
                        <button class="button" (click)="deleteProduct(cibo.id!)">Elimina</button>
                        <button class="button" (click)="updateProduct(cibo.id!, cibo)">Salva</button>
                    </div>
                </div>
            }
        }
        <!-- <app-tendina></app-tendina> -->
    </div>
</div>

