<app-header></app-header>
<button class="navigate-order" (click)="navigateToShowOrder()">Show Order History</button>
<div class="cart-container">
  <div class="cart-display">
    @if (carrello.orderDetails.length !== 0) {
      @for (prodotto of carrello.orderDetails; track $index; let i = $index) {
        <app-card-cart
          [item]="prodotto"
          (remove)="removeProduct(prodotto)"
          (decrement)="decrementCounter(prodotto)"
          (increment)="incrementCounter(prodotto)">
        </app-card-cart>
      }
    }
    @else {
      <h2 class="h2-text">Add products to view them in your cart!</h2>
    }
  </div>

  @if (carrello.orderDetails.length !== 0) {
    <div class="total-order-container">
      @if (carrello.id) {
        <button id="send-order" (click)="orderUpdate()">Update Order</button>
      }
      @else {
        <button id="send-order" (click)="sendOrder()">Send Order</button>
      }

      <h2>Price: {{ totalPrice }}$</h2>
    </div>
  }
</div>
<app-footer></app-footer>
