.cart-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
    margin-top: 5vh;
}

.cart-display{
    width: 75%;
    height: 70%;
    background-color: white;
    padding: 1rem;
    overflow: auto;
}

.h2-text{
    text-align: center;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 2em;
}

.navigate-order{
    width: 7rem;
    padding: 6px 12px;
    margin-top: 7%;
    margin-left: 1%;
    background-color: white;
    border: 2px solid black;
}

.navigate-order:hover{
    background-color: black;
    color: white;
}


#send-order{
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
    border: 2px solid black;
}

#send-order:hover{
    background-color: black;
    color: white;
}

.total-order-container{
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}
.container-box{
    border: 1px solid red;
}