<div class="container">
  <h2 class="log-in">Log In:</h2>
  <form class="login-form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="container-input">
      <input class="input" type="text" name="username" [(ngModel)]="username" placeholder="Username">
      <input class="input" type="password" name="password" [(ngModel)]="password" placeholder="Password">
    </div>
    <div class="container-button">
      <button class="button" (click)="goBack()">Back</button>
      <button class="button" type="submit">Submit</button>
    </div>
  </form>
</div>
  
