<div class="container">
    <div class="introduzione">
        <h1 class="title">Sushi World</h1>
        <p>In our restaurant, sushi is not just a dish – it's an authentic culinary experience that celebrates the art of Japanese cuisine. With a tradition rooted in centuries of history, sushi has become one of the most beloved dishes worldwide, and every bite we serve tells a story of freshness, quality, and a deep passion for culinary excellence.</p>
    </div>
    <div class="immagine">
        <img class="img" src="assets/images/immagine-sushi.jpg" alt="">
    </div>
</div>
<div class="container-p">
    <p>Welcome to <span class="sushi-title-p">Sushi World</span> – A Journey into the Flavors of Japan

        In the heart of the city, Sushi World invites you to discover the authentic sushi experience, where freshness and tradition come together in dishes prepared with passion and care. Our mission is to bring a piece of Japan directly to your table, offering a wide variety of sushi, sashimi, and traditional dishes made with the freshest, carefully selected ingredients.
        
        An Authentic and Unique Experience
        
        Every dish we serve tells a story. From the artisanal preparation of the fish to the choice of seasonings, our sushi is crafted following traditional Japanese recipes, with a touch of innovation that makes every bite an unforgettable experience. Whether you're a fan of classic sushi or a curious explorer of new flavors, you’ll surely find something to delight your palate.
        
        Freshness and Quality Come First
        
        Quality is our top priority. We source our ingredients from trusted suppliers, ensuring fresh, high-quality fish from both local and international markets. Every day, we make sure that our ingredients are at their peak freshness, so we can offer you sushi that’s not just a dish, but a complete sensory experience.
        
        Atmosphere and Hospitality
        
        <span class="sushi-title-p">Sushi World</span> is more than just a place to eat – it’s a true gastronomic experience. The relaxed and sophisticated atmosphere of our restaurant is designed to make you feel at home, while our friendly and professional staff are always ready to help you choose your dishes and make every visit special.
        
        A Menu for Every Taste
        
        Our menu is designed to satisfy every preference: from classic Japanese rolls to more creative and innovative dishes for those who love to explore new flavors. We also offer vegetarian and gluten-free options to ensure an inclusive dining experience for everyone.
        
        Book Your Table
        
        We invite you to reserve your table and discover why <span class="sushi-title-p">Sushi World</span> has become a landmark for sushi lovers in the city. We are ready to welcome you with our best service and offer you a culinary experience like no other.</p>
</div>
