<div class="container">
    <div class="introduzione">
        <h1 class="title">Sushi World</h1>
        <p>Nel nostro ristorante, il sushi non è solo un piatto, ma un'autentica esperienza culinaria che celebra l'arte della cucina giapponese. Con una tradizione che affonda le sue radici secolari, il sushi è diventato uno dei piatti più apprezzati a livello mondiale, e ogni morso che serviamo racconta una storia di freschezza, qualità e passione per l’eccellenza gastronomica.</p>
    </div>
    <div class="immagine">
        <img class="img" src="assets/images/immagine-sushi.jpg" alt="">
    </div>
</div>
<div class="container-p">
    <p>Benvenuti da <span class="sushi-title-p">Sushi World </span>– Un Viaggio nei Sapori del Giappone

        Nel cuore della città, <span class="sushi-title-p">Sushi World </span> ti invita a scoprire l'autentica esperienza del sushi, dove freschezza e tradizione si incontrano in piatti preparati con passione e cura. La nostra missione è portare un pezzo del Giappone direttamente sulla tua tavola, offrendo un'ampia varietà di sushi, sashimi e piatti tipici, realizzati con ingredienti freschissimi e selezionati con attenzione.
        
        Un'esperienza autentica e unica
        
        Ogni piatto che serviamo racconta una storia. Dalla lavorazione artigianale del pesce alla scelta dei condimenti, il nostro sushi è preparato seguendo le ricette tradizionali giapponesi, ma con un tocco di innovazione che rende ogni boccone un'esperienza indimenticabile. Che tu sia un amante del sushi classico o un esploratore curioso delle novità, troverai sicuramente qualcosa che soddisferà il tuo palato.
        
        Freschezza e Qualità al Primo Posto
        
        La qualità è la nostra priorità. Selezioniamo i nostri ingredienti da fornitori di fiducia, garantendo pesce fresco e di alta qualità, che arriva direttamente dai mercati locali e internazionali. Ogni giorno ci assicuriamo che le materie prime siano al massimo della freschezza, per offrirti un sushi che non è solo un piatto, ma un'esperienza sensoriale completa.
        
        Atmosfera e Accoglienza
        
        Sushi World non è solo un luogo dove mangiare, ma una vera e propria esperienza gastronomica. L'atmosfera rilassata e sofisticata del nostro ristorante è pensata per farti sentire come a casa, mentre il nostro personale cordiale e professionale è sempre pronto a guidarti nella scelta dei piatti e a rendere ogni visita speciale.
        
        Un Menu per Tutti i Gusti
        
        Il nostro menu è pensato per soddisfare ogni preferenza: dai classici roll giapponesi a piatti più creativi e innovativi, per chi ama esplorare nuovi sapori. Offriamo anche opzioni vegetariane e senza glutine, per garantire a tutti un'esperienza gastronomica inclusiva.
        
        Prenota il Tuo Tavolo
        
        Ti invitiamo a prenotare il tuo tavolo e a venire a scoprire perché <span class="sushi-title-p">Sushi World </span> è diventato un punto di riferimento per gli amanti del sushi in città. Siamo pronti ad accoglierti con il nostro migliore servizio e a farti vivere un'esperienza culinaria senza pari.</p>
</div>
