h2 {
    text-align: center;
  }

  .image{
    width: 8em;
  }

  .order-title{
    font-size: 4em;
    color: rgb(233, 233, 0);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5)
  }

  .order-id{
    font-size: 3em;
    color: rgb(233, 233, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
  }

  .color-detail{
    font-size: 2em;
    color: rgb(233, 233, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
  }

  .order-actions {
    margin: 1em;
    gap: 1em;
    display:flex
  }

  .general-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }

  .product-order-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid black;
  }

  .product-container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid black;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
    background-color: #1a1a1a;
  }

  .product{
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(233, 233, 0);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: white ;
    font-size: 1.2em;
  }

  .container-img{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-details{
    width: 60%;
  }

  /* button {
    margin-right: 10px;
    padding: 8px 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    cursor: pointer;
  } */
  button {
    background-color: black;
    color: white;
    border: 2px solid rgb(233, 233, 0);
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 1em;
  }

  button:hover {
    background-color: rgb(233, 233, 0);
    color: black;
    transform: scale(1.05);
  }

  .container-box {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .container-box p {
    margin: 5px 0;
  }

  .total-price-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
  }
