<app-header></app-header>
<div class="general-container">
    <h2 class="order-title">Order History</h2>
  
    @if (orderCart.length > 0) {
      @for (order of orderCart; track order.id) {
        <div class="product-order-container">
          <p class="order-id">Order ID: {{ order.id }}</p>
  
          <div class="product-container">
            @for (item of order.orderDetails; track item.product.id) {
              <div class="product">
                <div class="container-img">
                  <img class="image" [src]="'http://localhost:8080/images/' + item.product.productImage" alt="{{ item.product.name }}">
                </div>
                <div class="container-details">
                  <p><span class="color-detail">Name:</span> {{ item.product.name }}</p>
                  <p><span class="color-detail">Price:</span> {{ item.product.price }}$</p>
                  <p><span class="color-detail">Quantity:</span> {{ item.quantity }}</p>
                </div>
                <!-- <p>Total Price Product: {{item.quantity! * item.product.price!}}$</p> -->
              </div>
            }
            <div class="total-price-container">
              <p><span class="color-detail">Total Price:</span> {{getTotalOfOrder(order)}}$</p>
            </div>
          </div>
          <div class="order-actions">
            <button (click)="editOrder(order)">Edit</button>
            <button (click)="deleteOrder(order.id!)">Delete</button>
          </div>
        </div>
      }
    }
    @else {
      <h2>No orders found</h2>
    }
  </div>
  